---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tags/{{ tag }}/index.html"
---
{% set items = specs | selectattr("tags", "contains", tag) %}
<h2>Tag: {{ tag }}</h2>
{% include "layouts/list.njk" %}
